.App {
  background-image: url("https://files.slack.com/files-tmb/T039C2PUY-FHRT5U458-4ffb77d19d/header-bg_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-bar {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background: transparent;
  height: 9vh;
}

.App-header {
  font-family: 'Kaushan Script', cursive;
  color: #fad249;
  font-size: 28px;
}
.menu-btn {
  display: none;
}
img {
  height: 25px;
  width: 25px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

#services:hover {
  color: #fad249;
}

#portfolio:hover {
  color: #fad249;
}
#about:hover {
  color: #fad249;
}
#team:hover {
  color: #fad249;
}
#contact:hover {
  color: #fad249;
}
main {
  height: 91vh;
  margin-top: 9vh;
}

@media (max-width: 994px) {
  .menu-btn {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    width: 10vw;
  }
  ul {
    display: none;
  }
}
